.addSpecialForm {
    padding-top: 7.5em;
}

.addSpecialForm__container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.addSpecialForm__label {
    padding: 1em 0;
    font-weight: bold;
}

.addSpecialForm__container--update {
    display: flex;
    justify-content: space-between;
}

.addSpecialForm__btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 40px;
    border: none;
    border-radius: 100px;
    transition: all .3s;
    margin: 0.5em 0;
    color: white;
    align-self: center;
}

.addSpecialForm__btn {
    background-color: #0ABF46;
}

.addSpecialForm__btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

.addSpecialForm__input {
    padding: 0.5em 0;
}

.green {
    background-color: #0ABF46;
}

.red {
    background-color: rgb(233, 60, 60);
}

.addRecipeForm__subBtnContainer {
    text-align: center;
}